*{ margin:0; padding:0; box-sizing:border-box; }

@font-face
{font-family:alpha kufi regular;
 src:url("alpha kufi regular.ttf");
 	
 }
body{
	text-align:center; ;
	color:;
	background-size:;
	background-repeat:no-repeat;
	background-attachment: fixed;
	font-size:25px;
	font-family: arial,helvetica, sans-serif;
}
h1,h2{
	font-family: georgia, sans-serif
	text-transform: uppercase;
	display: inline-block;
}

h1{
	font-size:  2em;
	line-height: 1em;
	color:#B2002B;
	text-shadow:
		-1px -1px 0 #000,
		0px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		0px 1px 0 #000,
		1px 1px 0 #000;
}
h2{
	font-size: 1.5em;
	padding: .8em 0;
}
#slogan {
	font-size:80px;
	color:#000;
	font-family:'alpha kufi regular'; 
	font-style:;
	border:.2em #000 solid;
	color:#000;
	display:block;
	margin-top:;
	padding:.2em 0;
	text-align:center;
	text-shadow:
	    -1px -1px 0 #000,
	    0px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	    0px 1px 0 #000,
	    1px 1px 0 #000;
}
img {
	display: block;
	margin: 0 auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
/* grid */
nav{
	text-align: center;
	font-size: 1.8em;
	float: ;
}
nav a{
	text-decoration: none;
	color:#000000;
	margin: 1.8em;
	display: inline-block;
}

.row {
  margin: 0 -10px;
  margin-bottom: 20px;
}
.row:last-child {
  margin-bottom: 0;
}
[class*="col-"] {
  padding: 10px;
}
 
@media all and ( min-width: 600px ) {
 
.col-2-3 {
    float: left;
    width: 66.66%;
  }
  
#music {
	text-align: center;
	float:left;
	margin:.5%
	padding:1em 2em 1em 1em;
	width:490px;
}

	footer{
		text-align: center;
		padding: 1em 0;
		clear: both;
	}
	
