{ margin:0; padding:0; border-box:box-sizing; }

@font-face
{font-family:alpha kufi regular;
 src:url("alpha kufi regular.ttf");
 	
 }
body{
	color:#fff;
	background-image:url('images/record.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
	font-size:25px;
	font-family: arial,helvetica, sans-serif;
}

h1{
	line-height: 1em;
	color:#FF1951;
}
#slogan {
	font-size:35px;
	color:#52FF94;
	font-family:alpha kufi regular; 
	font-style: italic;
	
	
}