*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@font-face{font-family:jaapokkienchance-regular;
src:url("jaapokkienchance-regular.ttf"); /* missed this earlier, but you didn't close this property */
} /* missing closing brace */
body{
	background-image: url("images/blue.jpg");
	font-size: 18px;
	margin: 0;
}

nav {
	margin-top: 3em;
	background-color: #FFFFFF;
}
ul{
	text-align: center;
}
li{
	display: inline;
	margin: 0 3em;
}
a{
	text-decoration: none;
	list-style-type: none;
	color: #005F7F;
	background-color: #FFFFFF;
	display: inline-block;
	padding: 1em 3em;
	text-align: center;
}
a:hover{
	color: #DB6329;
}
section.main{
	background-color:rgba(255,138,82,.5);
	color: #005F7F;
	margin-left: auto;
    margin-right: auto;
    width: 150%;
	padding: 3em;
	line-height: 1.25em;
	max-width: 1200px;
}
.content{
	background-color: #FFFFFF;
	border: -1.5px #FFFFFF solid;
	border-radius: .2em;
}
#css {
	text-align: center;
	display: block;
	padding: .5em .5em 1em;
	font-family:'jaapokkienchance-regular';
	font-size: 2em;
	
}
p{
	background-color: #FFFFFF;
	padding: 0 1em;
	width: 380px;
	padding: 1em;
	margin-left: 2em;
}
#virtualpic{
		text-align: right;
		margin: -14em -5em 2em 0;
}
img {
	background-color: #FFFFFF;
	margin: 0 6em;
}

.main{
	background-color: #FFFFFF;
	font-size: 1.3em;
	font-weight: 900;
	padding: .5em 1em 0 1em;
	margin: 0;
}
#contact{
	margin-left:-0.5em;
	margin-top: -5em;
	padding: 1em;
	font-family: 'jaapokkienchance-regular';
	font-weight: 700;
	font-size:1.5em;
	padding-bottom: 0em;
}
.info{
	float: left;
	margin-top: 0.5em;
	margin-left: -2em;
	margin-bottom: 5em;
}
.info p{
	float: left;
	padding: .1em;
}

.bolden{
	font-weight: 900;
}
footer{
 	background-color:rgba(255,138,82,.3);
}

	

